[user]
  email = dorian@dorianmarie.com
  name = Dorian Marié
[init]
  defaultBranch = main
[push]
  default = current
[pull]
  rebase = false
[color]
  ui = auto
[alias]
  aa = add --all
  ap = add --patch
  b = branch
  ci = commit -v
  cm = commit
  cmm = commit -m
  co = checkout
  cp = cherry-pick
  df = diff
  dfs = diff --staged
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pf = push --force-with-lease
  r = reset
  s = status
  st = status
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  commentChar = ";"
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
